body {
    margin: 0;
    background-color: black;
}

#root {
    padding: 3rem;
    text-align: center;
}

#root h1{
    font-family: 'Short Stack', cursive;
    color: #fff;
    font-size: 38px;
}

#root canvas {
    display: block;
    margin: 0 auto;
}